<form>
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">Latest Readings of Weather Stations in the Philippines</h1>
    </section>
    <br>
	<label class="mdc-card__title mdc-card__title--large">Select atmospheric characteristic: </label>
	<select style="width:40%"; class="form-control" id="metric" name="metric">
		<option value="temp" selected>Temperature (&deg; C)</option>	
		<option value="rain">Precipitation (in)</option>	
		<option value="rad">Solar Radiation (W/(m*m))</option>	
		<option value="speed">Wind Speed (mph)</option>	
	</select>
</form>
<br>	
<div id="mapcontainer"></div>