<div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">AWS Stations</h1>
                </section>
                <section class="mdc-card__supporting-text">
                  <form id="aws-form" class="row">
                    <div class="col-md-6">
                      <select style="width:100%;" class="form-control" id="aws-select" name="id">
                        <repeat group="{{ @awses }}" value="{{ @a }}">
                          <check if="{{@aws_id == @a.aws_id}}">
                            <true>
                              <option value="{{@a.aws_id}}" selected>{{@a.station_name}}</option>
                            </true>
                            <false>
                              <option value="{{@a.aws_id}}">{{@a.station_name}}</option>
                            </false>
                          </check>
                        </repeat>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <select style="width:100%;" class="form-control" id="aws-select2" name="id2">
                        <repeat group="{{ @awses }}" value="{{ @a }}">
                          <check if="{{@aws_id2 == @a.aws_id}}">
                            <true>
                              <option value="{{@a.aws_id}}" selected>{{@a.station_name}}</option>
                            </true>
                            <false>
                              <option value="{{@a.aws_id}}">{{@a.station_name}}</option>
                            </false>
                          </check>
                        </repeat>
                      </select>
                    </div>
                  </form>
                </section>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">AWS Comparison</h1>
                </section>
                <div class="template-demo">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="text-left">AWS Station</th>
                        <th class="text-center">Precipitation (in/hr)</th>
                        <th class="text-center">Radiation (w/m&sup2;)</th>
                        <th class="text-center">Wind Speed (mph)</th>
                        <th class="text-center">Wind Direction</th>
                        <th class="text-center">Temperature (&#176c)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-left">{{ @awsname1 }}</td>
                        <td class="text-center">{{ isset(@precipitation1) ? round(@precipitation1,2) : ("N/A") }}</td>
                        <td class="text-center">{{ isset(@radiation1) ? @radiation1 : ("N/A") }}</td>
                        <td class="text-center">{{ isset(@windspeed1) ? round(@windspeed1,2) : ("N/A") }}</td>
                        <td class="text-center">{{ isset(@winddirection1) ? @winddirection1 : ("N/A") }}</td>
                        <td class="text-center">{{ isset(@temperature1) ? round(@temperature1,2) : ("N/A") }}</td>
                      </tr>
                      <tr>
                        <td class="text-left">{{ @awsname2 }}</td>
                        <td class="text-center">{{ isset(@precipitation2) ? round(@precipitation2,2) : ("N/A") }}</td>
                        <td class="text-center">{{ isset(@radiation2) ? @radiation2 : ("N/A") }}</td>
                        <td class="text-center">{{ isset(@windspeed2) ? round(@windspeed2,2) : ("N/A") }}</td>
                        <td class="text-center">{{ isset(@winddirection2) ? @winddirection2 : ("N/A") }}</td>
                        <td class="text-center">{{ isset(@temperature2) ? round(@temperature2,2) : ("N/A") }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h4 class="center">AWS Station 1</h4>
                <div id="meteogramcontainer" style="width: 100%; min-width: 380px; height: 310px; margin: 0 auto">
                  <div style="margin-top: 100px; text-align: center" id="loading">
                    <i class="fa fa-spinner fa-spin"></i> Loading data from external source
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h4 class="center">AWS Station 2</h4>
                <div id="meteogramcontainer2" style="width: 100%; min-width: 380px; height: 310px; margin: 0 auto">
                  <div style="margin-top: 100px; text-align: center" id="loading">
                    <i class="fa fa-spinner fa-spin"></i> Loading data from external source
                  </div>
                </div>
              </div>
            </div>
            </div>
				</div>
      </main>
    </div>


    <script>

      var AWS_ID = {{@aws_id}};
      var AWS_ID2 = {{@aws_id2}};

      $('#aws-select').change(function(){
        $('#aws-form').submit();
      });

      $('#aws-select2').change(function(){
        $('#aws-form').submit();
      });
      

    </script>