<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{{ @SITE }}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- CSS  -->
    <link rel="stylesheet" type="text/css" href="{{ @UI . 'vendor.css' }}">
    <link rel="stylesheet" type="text/css" href="{{ @UI . 'style.css' }}">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="//code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/modules/windbarb.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://highcharts.github.io/pattern-fill/pattern-fill-v2.js"></script>

</head>
<body>
    <div class="main">

        <div id="loader">
          <div class="spinner"></div>
        </div>

        <script>
          window.addEventListener('load', () => {
            const loader = document.getElementById('loader');
            const appContent = document.getElementById('app-content');
            // setTimeout(() => {
              loader.classList.add('fadeOut');
              appContent.classList.remove('hidden');
            // }, 3000);
          });
        </script>

        <div id="app-content" class="hidden">
          <!-- #Left Sidebar ==================== -->
          <div class="sidebar">
            <div class="sidebar-inner">
              <!-- ### $Sidebar Header ### -->
              <div class="sidebar-logo">
                <div class="peers ai-c fxw-nw">
                  <div class="peer peer-greed">
                    <a class="sidebar-link td-n pX-45 pY-30" href="{{ @BASE }}">
                      <!-- <div class="logo"> -->
                        <h3>IT 210 - AWS</h3>
                      <!-- </div> -->
                    </a>
                  </div>
                  <div class="peer">
                    <div class="mobile-toggle sidebar-toggle">
                      <a href="" class="td-n">
                        <i class="ti-arrow-circle-left"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- ### $Sidebar Menu ### -->
              <ul class="sidebar-menu scrollable pos-r">
                <li class="nav-item mT-30 active">
                  <a class="sidebar-link" href="{{@BASE}}">
                    <span class="icon-holder">
                      <i class="c-purple-500 fas fa-lg fa-cloud-sun"></i>
                    </span>
                    <span class="title">Weather</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="sidebar-link" href="{{@BASE}}/map">
                    <span class="icon-holder">
                      <i class="c-purple-500 fas fa-lg fa-map"></i>
                    </span>
                    <span class="title">Map</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="sidebar-link" href="{{@BASE}}/addAWS">
                    <span class="icon-holder">
                      <i class="c-purple-500 fas fa-lg fa-plus-square"></i>
                    </span>
                    <span class="title">Add New AWS</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- #Main ============================ -->
          <div class="page-container">

        

            <!-- ### $App Screen Content ### -->
            <main class="main-content bgc-grey-100" id="dashboard-content">
                <F3:include href="{{ @template }}"/>
            </main>

            <!-- ### $App Screen Footer ### -->
            <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
              <span>Copyright © 2017 Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>. All rights reserved.</span>
            </footer>
          </div>
        </div>

        <script type="text/javascript" src="ui/vendor.js"></script><script type="text/javascript" src="ui/bundle.js"></script>
        
    </div>

	<script type="text/javascript" src="{{ @UI . 'vendor.js' }}"></script>
	<script type="text/javascript" src="{{ @UI . 'bundle.js' }}"></script>

    <script type="text/javascript" src="{{ @UI . 'js/jquery.min.js' }}"></script>
    <script type="text/javascript" src="{{ @UI . 'js/jquery-ui.min.js' }}"></script>
    <script type="text/javascript" src="{{ @UI . 'js/bootstrap.min.js' }}"></script>

	<script type="text/javascript" src="{{ @UI . 'js/meteogram.js' }}"></script>

    <script src="https://code.highcharts.com/mapdata/countries/ph/ph-all.js"></script>
    <script type="text/javascript" src="{{ @UI . 'js/philsmap.js' }}"></script>
</body>
</html>