<div class="row">
    <form id="aws-form" class="col-md-12 row">
        <div class="col-md-4">
            <label for="start">Weather Station</label>
        	<select name="id" style="width:100%;" class="form-control" id="aws-select">
        		<repeat group="{{@awses}}" value="{{@a}}">
        			<check if="{{@aws.aws_id == @a.aws_id}}">
        				<true>
        					<option value="{{@a.aws_id}}" selected>{{@a.name}}</option>
        				</true>
        				<false>
        					<option value="{{@a.aws_id}}">{{@a.name}}</option>
        				</false>
        			</check>
        		</repeat>
        	</select>
        </div>
        <div class="col-md-4">
            <label for="start">Start</label>
            <input  class="form-control" name="start" id="start" value="{{ @GET.start }}" type="datetime-local">
        </div>
        <div class="col-md-4">
            <label for="end">End</label>
            <input class="form-control" name="end" id="end" value="{{ @GET.end }}" type="datetime-local">
        </div>
    </form>
    <div class="col-md-12">
        <div id="meteogramcontainer" style="width: 100%; min-width: 380px; height: 310px; margin: 0 auto">
          <div style="margin-top: 100px; text-align: center" id="loading">
            <i class="fa fa-spinner fa-spin"></i> Loading data from external source
          </div>
        </div>
    </div>
</div>

<script>

    var AWS_ID = {{@aws_id}};
    var START = '{{@start}}';
	var END = '{{@end}}';
	
	$('#aws-select').change(function(){
		$('#aws-form').submit();
	});

    $('#start').change(function(){
        $('#aws-form').submit();
    });

    $('#end').change(function(){
        $('#aws-form').submit();
    });


</script>