<div id="loader">
  <div class="spinner"></div>
</div>

<script>
  window.addEventListener('load', () => {
    const loader = document.getElementById('loader');
    const appContent = document.getElementById('app-content');
    // setTimeout(() => {
      loader.classList.add('fadeOut');
      appContent.classList.remove('hidden');
    // }, 3000);
  });
</script>

<div id="app-content" class="hidden">
  <!-- #Left Sidebar ==================== -->
  <div class="sidebar">
    <div class="sidebar-inner">
      <!-- ### $Sidebar Header ### -->
      <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="sidebar-link td-n pX-45 pY-30" href="{{ @BASE }}">
              <!-- <div class="logo"> -->
                
              <!-- </div> -->
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a href="" class="td-n">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ### $Sidebar Menu ### -->
      <ul class="sidebar-menu scrollable pos-r">
        <li class="nav-item mT-30 active">
          <a class="sidebar-link" href="app/index.html">
            <span class="icon-holder">
              <i class="c-purple-500 fa fa-lg fa-home"></i>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="sidebar-link" href="">
            <span class="icon-holder">
              <i class="c-purple-500 fa fa-lg fa-user-md"></i>
            </span>
            <span class="title">Recruit</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="sidebar-link" href="">
            <span class="icon-holder">
              <i class="c-purple-500 fa fa-lg fa-hospital-o"></i>
            </span>
            <span class="title">Institution</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="sidebar-link" href="">
            <span class="icon-holder">
              <i class="c-purple-500 fa fa-lg fa-globe"></i>
            </span>
            <span class="title">Market</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="sidebar-link" href="">
            <span class="icon-holder">
              <i class="c-purple-500 fa fa-lg fa-stethoscope"></i>
            </span>
            <span class="title">Leads</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="sidebar-link" href="">
            <span class="icon-holder">
              <i class="c-purple-500 ti-bar-chart"></i>
            </span>
            <span class="title">Intelligence Board</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="sidebar-link" href="">
            <span class="icon-holder">
              <!-- <i class="c-light-blue-500 ti-pencil"></i> -->
            </span>
            <span class="title">New Clinicians</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="sidebar-link" href="">
            <span class="icon-holder">
                <!-- <i class="c-pink-500 ti-palette"></i> -->
              </span>
            <span class="title">Physician Groups</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- #Main ============================ -->
  <div class="page-container">

    <!-- ### $Topbar ### -->
    <div class="header navbar">
      <div class="header-container">
        <ul class="nav-left">
          <li>
            <a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);">
              <i class="ti-menu"></i>
            </a>
          </li>
          <li class="search-box">
            <a class="search-toggle no-pdd-right" href="javascript:void(0);">
              <i class="search-icon fa fa-search pdd-right-10"></i>
              <i class="search-icon-close fa fa-times pdd-right-10"></i>
            </a>
          </li>
          <li class="search-input">
            <input class="form-control" type="text" placeholder="Search...">
          </li>
        </ul>
        <ul class="nav-right">
          <li class="notifications dropdown">
            <span class="counter bgc-red">3</span>
            <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
            </a>

            <ul class="dropdown-menu">
              <li class="pX-20 pY-15 bdB">
                <i class="fa fa-bell pR-10"></i>
                <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
              </li>
              <li>
                <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                  <li>
                    <a href="" class="peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100">
                      <div class="peer mR-15">
                        <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                      </div>
                      <div class="peer peer-greed">
                        <span>
                          <span class="fw-500">John Doe</span>
                          <span class="c-grey-600">liked your <span class="text-dark">post</span>
                          </span>
                        </span>
                        <p class="m-0">
                          <small class="fsz-xs">5 mins ago</small>
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="" class="peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100">
                      <div class="peer mR-15">
                        <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/2.jpg" alt="">
                      </div>
                      <div class="peer peer-greed">
                        <span>
                          <span class="fw-500">Moo Doe</span>
                          <span class="c-grey-600">liked your <span class="text-dark">cover image</span>
                          </span>
                        </span>
                        <p class="m-0">
                          <small class="fsz-xs">7 mins ago</small>
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="" class="peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100">
                      <div class="peer mR-15">
                        <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/3.jpg" alt="">
                      </div>
                      <div class="peer peer-greed">
                        <span>
                          <span class="fw-500">Lee Doe</span>
                          <span class="c-grey-600">commented on your <span class="text-dark">video</span>
                          </span>
                        </span>
                        <p class="m-0">
                          <small class="fsz-xs">10 mins ago</small>
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="pX-20 pY-15 ta-c bdT">
                <span>
                  <a href="" class="c-grey-600 cH-blue fsz-sm td-n">View All Notifications <i class="ti-angle-right fsz-xs mL-10"></i></a>
                </span>
              </li>
            </ul>
          </li>
          <li class="notifications dropdown">
            <span class="counter bgc-blue">3</span>
            <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
            </a>

            <ul class="dropdown-menu">
              <li class="pX-20 pY-15 bdB">
                <i class="fa fa-envelope pR-10"></i>
                <span class="fsz-sm fw-600 c-grey-900">Emails</span>
              </li>
              <li>
                <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                  <li>
                    <a href="" class="peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100">
                      <div class="peer mR-15">
                        <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                      </div>
                      <div class="peer peer-greed">
                        <div>
                          <div class="peers jc-sb fxw-nw mB-5">
                            <div class="peer">
                              <p class="fw-500 mB-0">John Doe</p>
                            </div>
                            <div class="peer">
                              <small class="fsz-xs">5 mins ago</small>
                            </div>
                          </div>
                          <span class="c-grey-600 fsz-sm">
                            Want to create your own customized data generator for your app...
                          </span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="" class="peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100">
                      <div class="peer mR-15">
                        <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/2.jpg" alt="">
                      </div>
                      <div class="peer peer-greed">
                        <div>
                          <div class="peers jc-sb fxw-nw mB-5">
                            <div class="peer">
                              <p class="fw-500 mB-0">Moo Doe</p>
                            </div>
                            <div class="peer">
                              <small class="fsz-xs">15 mins ago</small>
                            </div>
                          </div>
                          <span class="c-grey-600 fsz-sm">
                            Want to create your own customized data generator for your app...
                          </span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="" class="peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100">
                      <div class="peer mR-15">
                        <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/3.jpg" alt="">
                      </div>
                      <div class="peer peer-greed">
                        <div>
                          <div class="peers jc-sb fxw-nw mB-5">
                            <div class="peer">
                              <p class="fw-500 mB-0">Lee Doe</p>
                            </div>
                            <div class="peer">
                              <small class="fsz-xs">25 mins ago</small>
                            </div>
                          </div>
                          <span class="c-grey-600 fsz-sm">
                            Want to create your own customized data generator for your app...
                          </span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="pX-20 pY-15 ta-c bdT">
                <span>
                  <a href="email.html" class="c-grey-600 cH-blue fsz-sm td-n">View All Email <i class="fs-xs ti-angle-right mL-10"></i></a>
                </span>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
              <div class="peer mR-10">
                <img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
              </div>
              <div class="peer">
                <span class="fsz-sm">John Doe</span>
              </div>
            </a>
            <ul class="dropdown-menu fsz-sm">
              <li>
                <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                  <i class="ti-settings mR-10"></i>
                  <span>Setting</span>
                </a>
              </li>
              <li>
                <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                  <i class="ti-user mR-10"></i>
                  <span>Profile</span>
                </a>
              </li>
              <li>
                <a href="email.html" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                  <i class="ti-email mR-10"></i>
                  <span>Messages</span>
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                  <i class="ti-power-off mR-10"></i>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- ### $App Screen Content ### -->
    <main class="main-content bgc-grey-100" id="dashboard-content">

        
      <div class="row">
          <div class="col-md-12">
              <div id="meteogramcontainer" style="width: 100%; min-width: 380px; height: 310px; margin: 0 auto">
                <div style="margin-top: 100px; text-align: center" id="loading">
                  <i class="fa fa-spinner fa-spin"></i> Loading data from external source
                </div>
              </div>
          </div>
      </div>

      <div id="mainContent">
        <div class="row gap-20 masonry pos-r">
          <div class="masonry-sizer col-md-4"></div>
          <div class="masonry-item col-md-4">
            <div id="follower-count" class="card mB-20">
              <div class="layers">
                <div class="layer w-100 mB-10">
                  <div class="peers ai-c">
                    <div class="peer-greed">Your Followers</div>
                    <div class="peer">
                      <span class="ta-r d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500 fsz-sm">100</span>
                    </div>
                  </div>
                </div>
                <div class="layer w-100">
                  <div class="peers ai-c">
                    <div class="peer-greed">Your Institute's Followers</div>
                    <div class="peer">
                      <span class="ta-r d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500 fsz-sm">100</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="physician-follow" class="card mB-20">
              <div class="layers">
                <div class="layer w-100">
                  <h5 class="lh-1">Physicians You Follow</h5>
                </div>
                <div class="layer w-100 p-10">
                  <div class="layers">
                    <div class="layer w-100 work-info pY-10">
                      <div class="peers">
                        <div class="peer mR-20">
                          <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="" class="w-3r bdrs-50p">
                        </div>
                        <div class="peer-greed">
                          <div class="layers">
                            <div class="layer w-100">
                              <span class="fw-800 tt-u"><a href="">John Doe</a></span>
                            </div>
                            <div class="layer w-100">
                              <span class="fsz-xs">Followed on Oct. 01, 2018</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="layer w-100 work-info pY-10">
                      <div class="peers">
                        <div class="peer mR-20">
                          <img src="https://randomuser.me/api/portraits/men/4.jpg" alt="" class="w-3r bdrs-50p">
                        </div>
                        <div class="peer-greed">
                          <div class="layers">
                            <div class="layer w-100">
                              <span class="fw-800 tt-u"><a href="">Lee Doe</a></span>
                            </div>
                            <div class="layer w-100">
                              <span class="fsz-xs">Followed on Oct. 01, 2018</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="layer w-100 work-info pY-10">
                      <div class="peers">
                        <div class="peer mR-20">
                          <img src="https://randomuser.me/api/portraits/men/9.jpg" alt="" class="w-3r bdrs-50p">
                        </div>
                        <div class="peer-greed">
                          <div class="layers">
                            <div class="layer w-100">
                              <span class="fw-800 tt-u"><a href="">Moo Doe</a></span>
                            </div>
                            <div class="layer w-100">
                              <span class="fsz-xs">Followed on Oct. 01, 2018</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="layer w-100 work-info pY-10">
                      <div class="peers">
                        <div class="peer mR-20">
                          <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="" class="w-3r bdrs-50p">
                        </div>
                        <div class="peer-greed">
                          <div class="layers">
                            <div class="layer w-100">
                              <span class="fw-800 tt-u"><a href="">Randy Doe</a></span>
                            </div>
                            <div class="layer w-100">
                              <span class="fsz-xs">Followed on Oct. 01, 2018</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="layer w-100 work-info pY-10">
                      <div class="peers">
                        <div class="peer mR-20">
                          <img src="https://randomuser.me/api/portraits/women/3.jpg" alt="" class="w-3r bdrs-50p">
                        </div>
                        <div class="peer-greed">
                          <div class="layers">
                            <div class="layer w-100">
                              <span class="fw-800 tt-u"><a href="">Molly Doe</a></span>
                            </div>
                            <div class="layer w-100">
                              <span class="fsz-xs">Followed on Oct. 01, 2018</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ta-r bdT w-100 pX-20 pT-10">
                <span class="fsz-xs"><a href="">View all 100</a></span>                      
              </div>
            </div>
            <div id="institute-follow" class="card mB-20">
              <div class="layers">
                <div class="layer w-100">
                  <h5 class="lh-1">Institutes You Follow</h5>
                </div>
                <div class="layer w-100 p-10">
                  <div class="layers">
                    <div class="layer w-100 work-info mB-20">
                      <div class="layers">
                        <div class="layer w-100">
                          <span class="fw-800 tt-u fsz-sm"><a href="">Florida Hospital</a></span>
                        </div>
                        <div class="layer w-100">
                          <span class="fsz-xs">Orlando, FL</span>
                        </div>
                        <div class="layer w-100">
                          <span class="fsz-xs">Followed on Oct. 01, 2018</span>
                        </div>
                      </div>
                    </div>
                    <div class="layer w-100 work-info mB-20">
                      <div class="layers">
                        <div class="layer w-100">
                          <span class="fw-800 tt-u fsz-sm"><a href="">New York-presbyterian Hospital</a></span>
                        </div>
                        <div class="layer w-100">
                          <span class="fsz-xs">New York, NY</span>
                        </div>
                        <div class="layer w-100">
                          <span class="fsz-xs">Followed on Oct. 01, 2018</span>
                        </div>
                      </div>
                    </div>
                    <div class="layer w-100 work-info mB-20">
                      <div class="layers">
                        <div class="layer w-100">
                          <span class="fw-800 tt-u fsz-sm"><a href="">Jackson Memorial Hospital</a></span>
                        </div>
                        <div class="layer w-100">
                          <span class="fsz-xs">Miami, FL</span>
                        </div>
                        <div class="layer w-100">
                          <span class="fsz-xs">Followed on Oct. 01, 2018</span>
                        </div>
                      </div>
                    </div>
                    <div class="layer w-100 work-info mB-20">
                      <div class="layers">
                        <div class="layer w-100">
                          <span class="fw-800 tt-u fsz-sm"><a href="">Mayo Clinic Hospital Rochester</a></span>
                        </div>
                        <div class="layer w-100">
                          <span class="fsz-xs">Rochester, MN</span>
                        </div>
                        <div class="layer w-100">
                          <span class="fsz-xs">Followed on Oct. 01, 2018</span>
                        </div>
                      </div>
                    </div>
                    <div class="layer w-100 work-info mB-20">
                      <div class="layers">
                        <div class="layer w-100">
                          <span class="fw-800 tt-u fsz-sm"><a href="">Methodist Hospital</a></span>
                        </div>
                        <div class="layer w-100">
                          <span class="fsz-xs">San Antonio, TX</span>
                        </div>
                        <div class="layer w-100">
                          <span class="fsz-xs">Followed on Oct. 01, 2018</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ta-r bdT w-100 pX-20 pT-10">
                <span class="fsz-xs"><a href="">View all 100</a></span>                      
              </div>
            </div>
          </div>
          <div class="masonry-item col-md-8">
            <div id="your-updates" class="card mB-20">
              <div class="layers">
                <div class="layer w-100 mB-10">
                  <h5 class="lh-1">Your Updates</h5>
                </div>
                <div class="layer w-100"></div>
                <div class="layer w-100">
                  <div class="action ta-r">
                    <button class="btn btn-primary btn-sm">Post</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="news-feed" class="card mB-20">
              <div class="layers">
                <div class="layer w-100 mB-10">
                  <h5 class="lh-1">Latest News</h5>
                </div>
                <div class="layer w-100">
                  <div class="bd p-20">
                    <div class="peers">
                      <div class="peer mR-20">
                        <img src="https://randomuser.me/api/portraits/men/4.jpg" alt="" class="w-3r bdrs-50p">
                      </div>
                      <div class="peer-greed">
                        <div class="layers">
                          <div class="layer w-100">
                            <span class="fsz-xs c-grey-500">Update</span>
                          </div>
                          <div class="layer w-100">
                            <span class="fw-600 fsz-md">Lee Doe has left his current work.</span>
                          </div>
                          <div class="layer w-100">
                            <span class="fsz-xs">Sept. 29, 2018</span>
                          </div>
                          <div class="layer w-100">
                            <div class="peers">
                              <div class="peer mR-20"><a href="" class="fsz-xs">View profile</a></div>
                              <div class="peer mR-20"><a href="" class="fsz-xs">Save card</a></div>
                              <div class="peer mR-20"><a href="" class="fsz-xs">Send email</a></div>
                              <div class="peer"><a href="" class="fsz-xs">Clear</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bd p-20">
                    <div class="peers mB-20">
                      <div class="peer mR-20">
                        <img src="https://randomuser.me/api/portraits/women/3.jpg" alt="" class="w-3r bdrs-50p">
                      </div>
                      <div class="peer-greed">
                        <div class="layers">
                          <div class="layer w-100">
                            <span class="fsz-xs c-grey-500">Update</span>
                          </div>
                          <div class="layer w-100">
                            <span class="fw-600 fsz-md">Molly Doe just published a new publication.</span>
                          </div>
                          <div class="layer w-100">
                            <span class="fsz-xs">Sept. 29, 2018</span>
                          </div>
                          <div class="layer w-100">
                            <div class="peers">
                              <div class="peer mR-20"><a href="" class="fsz-xs">View profile</a></div>
                              <div class="peer mR-20"><a href="" class="fsz-xs">Save card</a></div>
                              <div class="peer mR-20"><a href="" class="fsz-xs">Send email</a></div>
                              <div class="peer"><a href="" class="fsz-xs">Clear</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-20 bgc-grey-50">
                      <div class="fw-900">New Publication Title</div>
                      <div class="fsz-xs fw-700 mB-5"><a href="">Molly Doe</a>, <a href="">Randy Doe</a></div>
                      <div class="fsz-xs mB-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minus at non quisquam, doloribus illum vero sunt recusandae unde qui autem mollitia facilis consectetur ad pariatur laboriosam. Magnam, dolorum cumque. Fugit reprehenderit eum quibusdam maxime sed temporibus illo nesciunt quod esse tenetur blanditiis facere pariatur autem, repellat, natus ullam eos facilis atque. Minima blanditiis est ratione officia cupiditate, quae quam.
                      </div>
                      <div>
                        <div class="peers">
                          <div class="peer mR-20"><a href="" class="fsz-xs">Request copy</a></div>
                          <div class="peer"><a href="" class="fsz-xs">View source</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bd p-20">
                    <div class="peers mB-20">
                      <div class="peer mR-20">
                        <img src="https://randomuser.me/api/portraits/men/9.jpg" alt="" class="w-3r bdrs-50p">
                      </div>
                      <div class="peer-greed">
                        <div class="layers">
                          <div class="layer w-100">
                            <span class="fsz-xs c-grey-500">Update</span>
                          </div>
                          <div class="layer w-100">
                            <span class="fw-600 fsz-md">Moo Doe has attended a conference.</span>
                          </div>
                          <div class="layer w-100">
                            <span class="fsz-xs">Sept. 29, 2018</span>
                          </div>
                          <div class="layer w-100">
                            <div class="peers">
                              <div class="peer mR-20"><a href="" class="fsz-xs">View profile</a></div>
                              <div class="peer mR-20"><a href="" class="fsz-xs">Save card</a></div>
                              <div class="peer mR-20"><a href="" class="fsz-xs">Send email</a></div>
                              <div class="peer"><a href="" class="fsz-xs">Clear</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-20 bgc-grey-50">
                      <div class="fw-900">Conference Title</div>
                      <div class="fsz-xs fw-700">Address</div>
                      <div class="fsz-xs fw-700 mB-5">Sept. 20, 2018</div>
                      <div class="fsz-xs mB-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ullam esse aspernatur modi enim! Possimus, ab. Facilis ducimus earum ad, corporis eius aut consectetur eaque sapiente vitae sequi, est repellat! In expedita quaerat aliquid voluptates similique, sapiente est, iste sint at officia dolor autem quia ratione libero ducimus aliquam explicabo eligendi dolorem dignissimos consequuntur ad sit dolorum voluptatum. Dolorum, maxime. Voluptates explicabo natus deserunt eum saepe? Eligendi necessitatibus quae dignissimos ad. Et consequuntur sunt ut. Corporis modi sit velit obcaecati. Culpa unde enim sint ipsam ad maxime consequatur illo doloremque.
                      </div>
                      <div>
                        <div class="peers">
                          <div class="peer"><a href="" class="fsz-xs">More info</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bd p-20">
                    <div class="peers mB-20">
                      <div class="peer mR-20">
                      </div>
                      <div class="peer-greed">
                        <div class="layers">
                          <div class="layer w-100">
                            <span class="fsz-xs c-grey-500">News</span>
                          </div>
                          <div class="layer w-100">
                            <span class="">Florida Hospital</span>
                          </div>
                          <div class="layer w-100">
                            <span class="fw-600 fsz-md">New news on Florida Hospital.</span>
                          </div>
                          <div class="layer w-100">
                            <span class="fsz-xs">Sept. 29, 2018</span>
                          </div>
                          <div class="layer w-100">
                            <div class="peers">
                              <div class="peer mR-20"><a href="" class="fsz-xs">View profile</a></div>
                              <div class="peer mR-20"><a href="" class="fsz-xs">Save card</a></div>
                              <div class="peer"><a href="" class="fsz-xs">Clear</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-20 bgc-grey-50">
                      <div class="fw-900">Florida News Article Title</div>
                      <div class="fsz-xs fw-700">Article Source</div>
                      <div class="fsz-xs fw-700 mB-5">Sept. 20, 2018</div>
                      <div class="fsz-xs mB-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ullam esse aspernatur modi enim! Possimus, ab. Facilis ducimus earum ad, corporis eius aut consectetur eaque sapiente vitae sequi, est repellat! In expedita quaerat aliquid voluptates similique, sapiente est, iste sint at officia dolor autem quia ratione libero ducimus aliquam explicabo eligendi dolorem dignissimos consequuntur ad sit dolorum voluptatum. Dolorum, maxime. Voluptates explicabo natus deserunt eum saepe? Eligendi necessitatibus quae dignissimos ad. Et consequuntur sunt ut. Corporis modi sit velit obcaecati. Culpa unde enim sint ipsam ad maxime consequatur illo doloremque.
                      </div>
                      <div>
                        <div class="peers">
                          <div class="peer"><a href="" class="fsz-xs">Read more</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- ### $App Screen Footer ### -->
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
      <span>Copyright © 2017 Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>. All rights reserved.</span>
    </footer>
  </div>
</div>

<script type="text/javascript" src="ui/vendor.js"></script><script type="text/javascript" src="ui/bundle.js"></script>