#mapcontainer {
    height: 1000px; 
    min-width: 310px; 
    max-width: 100%; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

a.manager {
	color: black;
}

.mobile-toggle.sidebar-toggle {
	line-height: 0;
	padding: 10px;
}

#app-content .mobile-toggle.sidebar-toggle a {
	padding: 0;
}

.header.navbar {
	display: block;
}

@media screen and (min-width: 990px) {
	.header.navbar {
		display: none;
	}
}